body{
    background-color: lightgreen;
}
.heading{
    text-align: center;
}
form{
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 30%;
}
.input-box{
    width: 100%;
    margin-bottom: 20px;
}
.submit-color{
    background-color: green;
    font-size: 17px;
}