body{
    background-color: lightgreen;
}
.heading{
    text-align: center;
}
form{
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 30%;
}
.input-box{
    width: 100%;
    margin-bottom: 20px;
}
.submit-color{
    background-color: green;
    font-size: 17px;
}
.custom-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 10px;
    border-radius: .5rem;
    z-index: 1000;
    text-align: center;
    width: 17vw;
}

.custom-alert p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #ffff;
}

.custom-alert-button {
    padding: 10px 20px;
    background-color: #cbf802;
    color: #000000;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 16px;
}